* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

html {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    background-color: #080808;
    color: #ffffff;
}

#header {
    width: 100%;
    background-color: #1b1b1b;
}

#main {
    width: 100%;
}

#footer {
    width: 100%;
}